body
{
    background-image: url("fond_ecran_CV.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
/* Décalage du texte dans le menu*/
.navbar 
{
   
    padding-left:2%;
  
 }


#Etat_Civil,#Formation,#Connaissances, #Experiences,#Competences,#C_I
{
   background-color: rgba(251,251,251,0.5);
    border-radius:30px;
    margin-top:100px;
 }
/* On décale le premier pavé à cause du menu*/
#Etat_Civil
{
    margin-top: 200px;
}
section h1
{
    padding-left: 3%;
    padding-top:5px;
    padding-bottom:60px;
}
section
{
    font-size:1em;
}
section p
{
    padding-left:4%;
}
#Connaissances ul
{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding-top:10px;
}
#Connaissances h4
{
    padding-left:4%;
}
#Experience ul, #Competence ul
{
    padding-top:10px;
}
