    body
    {
        background-color: whitesmoke;
        text-align: center;
        color:darkcyan;
        background-image:linear-gradient(gainsboro,whitesmoke);
        
    }
 .element1
    {
        width:100%;
        margin:auto;
        margin-bottom: 30px;

    }
/*=======================Premier Conteneur Flexbox: pavé coordonnées et pavé menu================================*/
    #conteneur
    {
       display: flex;
       display: -webkit-flex;
       -webkit-flex-flow:row wrap;
       flex-flow:row wrap;
        justify-content: space-around;
       -webkit-justify-content: space-around;
        align-items: center;
        -webkit-align-items:center;
        
    }
   
    .element2/*Pavé Coordonnées*/
    {
        padding: 3%;
       width:20%;
        background-color: darkcyan;
        border-radius:20px;
        color:gainsboro;
        
    }
    .element2 img/*Photo de moi*/
    {
        box-shadow: 5px 5px 5px darkgrey;
        border-radius: 20px;
        width:50%;
        color:gainsboro;
       
    }
    ul/*Coordonnées*/
    {
         list-style-type:none;
        padding-left:2%;
    }
    .element3/* Menu*/
    { 
        background-color: darkcyan;
        border-radius:20px;  
       width:60%;      

     }
    a/*liens du menu*/
    {
         text-decoration: none;
         color:darkcyan;
    }
    a:focus
    {
        color:darkcyan;
    }

   article h4/*éléments du menu*/
    {
        border:1px darkcyan solid;
        border-radius:10px;
        background-color: gainsboro;
        padding:15px;
        width: 350px;
        
        
    }

    .conteneur1/*Conteneur contenant le menu*/
    {
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        flex-direction: -webkit-column;
        justify-content: space-around;
        -webkit-justify-content:space-around;
        align-items: center;
        -webkit-align-items:center;      
       
    }
    /* Contenu du conteneur 2 de la flexbox, le corps qui contient les projets*/
    #conteneur2
    {
        display:-webkit-flex;
        display:flex;
        flex-direction: -webkit-column;
        flex-direction: column;

        border-radius:20px;
        width:95%;
        margin:auto;
        justify-content: space-around;
         -webkit-justify-content:space-around;
    }

    h3 p 
    {
        padding:10%;
    }

    #Moirans,#CV,#Ville/*les projets*/
    {
        border:1px darkcyan solid;
        border-radius:20px;
        align-items:stretch;
        margin-top: 30px;
        background-color: darkcyan;
        color:gainsboro;
       
       
    }

     #Moirans img,#CV img,#Ville img /*les images des projets*/
    {
        width:80%;
        box-shadow:5px 5px 5px darkcyan; 
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
@media all and (max-width:480px)
{
    .element2
    {
        width:100%;
    }

.element2 img
{
   display:none;
}

.element3
{
   display: none;
}
.element4
{
        display:none;
 }
#Moirans img,#CV img,#Autre img
    {
        width:70%;
        
    }
    
}
@media all and (min-width:480px) and (max-width:800px)
{


.element1
{
    width:100%;
   
}
.element2
{
    padding: 2%;
    width:30%;
  
}

.element3
{
    width:60%;
    
}
article h4/*éléments du menu*/
    {
        border:1px darkcyan solid;
        border-radius:10px;
        background-color: gainsboro;
        padding:15px;
        width: 200px;
        margin:auto;
        
    }
a
{
     text-decoration: none;
     color:darkcyan;
}
a:focus
{
    color:darkcyan;
}
  

    #Moirans img,#CV img,#Autre img
    {
        width:70%;
    }
        
}


