    body
    {
        background-color: whitesmoke;
        text-align: center;
        color:darkcyan;
    }
    #conteneur
    {
        display: flex;
        -webkit-display:flex;
        flex-wrap:wrap;
        align-items:center
            -webkit-align-items:center;
        background-image:linear-gradient(gainsboro,whitesmoke);

    }
    .element1
    {
        width:100%;

    }
    .element2
    {
        padding: 2%;
        width:20%;
    }
    .element2 img
    {
        box-shadow: 5px 5px 5px darkgrey;
        border-radius: 30px;
        width:50%
       
    }
    ul
    {
         list-style-type:none;
        padding-left:2%;
    }
.element4
{
    background-color: darkcyan;
    border-radius:20px;
    width:60%;
    height:300px;
}
    .element3
    {
        margin:auto;
        width:50%; 
        margin-top: 60px;
    }
    a
    {
         text-decoration: none;
         color:darkcyan;
    }
    a:focus
    {
        color:darkcyan;
    }

    article h4
    {
        border:1px darkcyan solid;
        border-radius:10px;
        background-color: gainsboro;
        padding:10px;

    }
    #conteneur2
    {
        display:flex;
        -webkit-display:flex;
        flex-direction:column;
        width:80%;
        margin:auto;

    }
    #Moirans,#CV,#Ville
    {
        border:1px darkcyan solid;
        border-radius:20px;
        padding:3%px;
        margin-bottom: 3%;
    }
     #Moirans img,#CV img,#Ville img
    {
        width:80%;
        box-shadow:5px 5px 5px darkcyan; 
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
@media all and (max-width:480px)
{
    .element2
    {
        width:100%;
    }

.element2 img
{
   display:none;
}

.element3
{
   display: none;
}
.element4
{
        display:none;
 }
#Moirans img,#CV img,#Autre img
    {
        width:70%;
        
    }
    
}
@media all and (min-width:480px) and (max-width:800px)
{


.element1
{
    width:100%;
   
}
.element2
{
    padding: 2%;
    width:30%;
  
}

.element3
{
    width:70%;
    margin:auto;
    height:100%;
    margin-top:45px;
    
}
    .element4{
       width:50%;
    }
a
{
     text-decoration: none;
     color:darkcyan;
}
a:focus
{
    color:darkcyan;
}

#conteneur2
{
    display:flex;
    -webkit-display:flex;
    flex-direction:column;
    width:80%;
    margin:auto;
    
}

    #Moirans img,#CV img,#Autre img
    {
        width:70%;
    }
        
}


